#card-border {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 15px;
  width: 300px;
  box-shadow: 10px 10px 5px #d3d3d3
}

#inner-card-border {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 15px;
  width: 269px;
}

#card-list-info {
  list-style-type:none;
  margin: 0;
  padding: 0;
}
