.card-border {
  border: 1px grey solid;
  padding: 15px;
  width: 300px;
  box-shadow: 10px 10px 5px #d3d3d3
}

.inner-card-border {
  border: 1px grey solid;
  padding: 15px;
  width: 268px;
}

.card-list-info {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
